<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Department Edit</title>
</head>
<body layout:fragment="body">
	<h1>Edit Department</h1>

	<form th:action="@{/department/edit}" method="post"
		enctype="multipart/form-data">
		<div>
			<input type="number" name="id" th:value="${department.id}"
				placeholder="Enter id...">
		</div>
		<div>
			<input type="text" name="name" th:value="${department.getName()}"
				placeholder="Enter name...">
		</div>
		<input type="file" name="file" accept="image/*">
		<div>
			<button type="submit">Update</button>
		</div>
	</form>
</body>
</html>