<!DOCTYPE html>
<html layout:decorate="/template.html" >
<head>
<meta charset="UTF-8">
<title>Score New</title>
</head>
<body layout:fragment="body">
	<h1>New score</h1>

	<form th:action="@{/score/new}" method="post">
		<div>
			<input type="text" name="score" placeholder="Enter score">
		</div>
		<div>
			<input type="text" name="userId" placeholder="Enter userId">
		</div>
		<div>
			<input type="text" name="courseId" placeholder="Enter courseId">
		</div>
		<div>
			<button type="submit">Create</button>
		</div>
	</form>	<!-- 
	<form th:action="@{/user/upload-multi}" method="post" 
		enctype="multipart/form-data">
		<input type="file" name="files" accept="image/*">
		<input type="file" name="files" accept="image/*">
		<input type="file" name="files" accept="image/*">
		<div>
			<button type="submit">Create</button>
		</div>
	</form> -->
</body>
</html>