<!DOCTYPE html>
<html layout:decorate="/template.html" >
<head>
<meta charset="UTF-8">
<title>Group New</title>
</head>
<body layout:fragment="body">
	<h1>New group</h1>

	<form th:action="@{/group/new}" method="post">
		<div>
			<input type="text" name="name" placeholder="Enter name...">
		</div>
		<div>
			<button type="submit">Create</button>
		</div>
	</form>	<!-- 
	<form th:action="@{/user/upload-multi}" method="post" 
		enctype="multipart/form-data">
		<input type="file" name="files" accept="image/*">
		<input type="file" name="files" accept="image/*">
		<input type="file" name="files" accept="image/*">
		<div>
			<button type="submit">Create</button>
		</div>
	</form> -->
</body>
</html>